* {
  /* background-color: #7e6141; */
}

.barriecito-regular {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  justify-self: center;
}

main {
width: 100vw;
}
body {
  background-color: #7e6141;
  margin: 0px;
  padding: 0px;
  justify-items: center;
}

.menu {
  background-color: #7e6141;
  width: 1200px;
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.menu img {
  padding-top: 2%;
  width: auto;
  height: auto;
}

.menu a {
  text-decoration: none;
  color: #fffbe7;
}

.menu div {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 48px;
}

.menu div > button {
  margin-left: 240px;
  border: solid 2px #fffbe7;
  border-radius: 100px;

  width: 166px;
  height: 51px;
  color: #fffbe7;
  background-color: #7e6141;
}

.hero {
  /* height: 90vh; */
 background-image: url("assets/Floating\ food.png");
 background-repeat: no-repeat;
  display: grid;
  width: 1200px;
}

.hero h1 {
  color: #d0a56f;
  font-size: 240px;
  margin: 0;
}

.hero h2 {
  color: #fffbe7;
  font-size: 64px;
}

.hero p {
  font-family: roboto;
  font-size: 16px;
  color: #fffbe7;
}

.hero .bk {
  filter: blur(4px);
  position: absolute;
}

.hero img {
  background-color: #00ffff00;
}

.hero-div {
  
  /* height: 100%; */
  grid-column: 2;
}

.img-hero-dog {
  /* z-index: 100; */
  /* width: auto; */
  position: absolute;
  background-color: #00ffff00;
}

.hero-div .txt {
  align-content: center;
  z-index: 100;
  background-color: #00ffff00;
}

.hero-div .h-button {
  width: fit-content;
  height: fit-content;
  margin-left: -300px;
  margin-top: -68px;
}

.hero-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
}